[submodule "magoo"]
	path = libs/magoo
	url = https://github.com/Pistonight/test
[submodule "libs/test"]
	path = libs/test
	url = https://github.com/Pistonight/test
[submodule "libs/ma g"]
	path = libs/ma g
	url = https://github.com/Pistonight/test
[submodule "libs/ma (g"]
	path = libs/ma (g
	url = https://github.com/Pistonight/test

[submodule "magoop2"]
	path = libs/magoop
	url = https://github.com/Pistonight/test
[submodule "magoop"]
	path = libs/magoopchanged
	url = https://github.com/Pistonight/test
